
/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #616f41;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #cbddd1;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #215e5c;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background: white;
    border: 1px solid #352020;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #616f41;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
